# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Compiled versions
binaries/passgen-freebsd64
binaries/passgen-linx64
binaries/passgen-macx64
binaries/passgen-x386.exe
binaries/passgen-x64.exe

# ignore cscope and ctags databases
cscope.out
tags

# exclude Vim temp files
*.swp
*.swo